<%- include('partials/Header') %>

<div class="jumbo row">
  <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded text-center text-white"style="background: linear-gradient(to bottom, #fff, #ed44c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ; margin-top:90px">
    <%- include('partials/flash') %>
    <img src="http://images8.design-editor.com/92/9293685/3958/8781D98C-E7A0-8B28-BED4-86520B3C7B90.jpg" class="img-thumbnail card-img-top w-25"style="height:180px" >
    <img src="https://img.grouponcdn.com/deal/4DpuND4oxQjsme5VLb9F6K/451835441-2048x1229/v1/t300x182.jpg" class="img-thumbnail card-img-top w-25"style="height:240px" >
    <img src="http://s24193.pcdn.co/wp-content/uploads/2017/08/nail-salons-near-me-ENTITY-Instagram-lipstickmixtapes-e1504122361297.png" class=" img-thumbnail card-img-top w-25"style="height:330px" >
    <div>
      <h1 class="display-4 font-weight-bold" style="font-style: italic"><span class="text-danger">Vanessa</span> <span class="text-dark">Nail Tech</span></h1>
      <p class="lead display-4 "style="font-style: italic;">Professional Nail Art Tech</p>
    </div>
  </div>
</div> 
  <div class="row mb-4 ml-4">
      <div class="col-md-3 "></div>
      <div class="col-md-2">
        <img style="height:250px;width:86%" class="d-none-sm rounded-circle"src="https://tse2.mm.bing.net/th?id=OIP.bk83NuPnjJT96jhD_gDmJQHaLH&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
      </div>
      <div class="col-md-2">  
        <img style="height:250px;width:86%" class="rounded-circle"src="https://tse3.mm.bing.net/th?id=OIP.W3r_SUK7ujIXc5KzlHo5eAHaHa&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
      </div> 
      <div  class="col-md-2">   
        <img style="height:250px;width:86%" class="rounded-circle"src="https://stayglam.com/wp-content/uploads/2019/04/Beautiful-Embellished-Pink-Nails.jpg" class="card-img-top" alt="...">
      </div>
      <div class="col-md-3"></div>
  </div>
  <div class="row mb-4">
    <div class="col-md-5"></div>
    <form action"/" method="POST" class="col-md-2 mt-4 ml-3" style="color:#ed44c0;">
      <div class=" mx-3form-group ">
        <label for="exampleInputEmail1">Subscribe for the latest styles.</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="subscribe"    aria-describedby="emailHelp" placeholder="Enter your email address">
      </div>
      <button type="submit"style="background:#ed44c0;" class="btn btn-primary mt-2">Subscribe</button>
    </form>
    <div class="col-md-5"></div>
  </div>

<%- include('partials/Footer') %>
