<%- include('partials/Header') %>

<div class="container" style="margin-top:100px;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <h1 class="text-center mb-4" style="color:#ed44c0">Create a new Post</h1>
        <form action="/collections" method="POST">
           <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="name">
           </div>
           <div class="form-group">
              <input class="form-control" type="text" name="image" placeholder="image-url">
           </div>
           <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="description">
         </div>
           <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block"style="background:#ed44c0; color:white">submit</button>
           </div>
        </form>
        <a class="text-center"style="color:#ed44c0" href="/collections">Go Back</a>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>
<%- include('partials/Footer') %>